.button {
        background: linear-gradient(45deg,#57b4b0,#66d4cf);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        padding: 12px 25px;
        max-width: max-content;
        box-shadow: 0 0 22px 20px #e0ecec;
}