* {
  margin: 0;
}

body {
  margin: 0;
  padding: 20px;
  background: #f4f4f4;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  min-height: 100vh;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.loader {
  transition: 2s all ease;
  animation: loading 1s infinite;
  color: #4da09c;
}

@keyframes loading {
  from {
    font-size: 19px;
  }
  to {
    font-size: 40px;
  }
}